h1{
    font-size: 1.8rem;
    font-weight: 800;
    color: whitesmoke
}

.Home{
    width: 210vh;
    height: 615px;
    background-color: rgb(45, 45, 161);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8.5px
}