<h1 mat-dialog-title >
    {{ editingCourse 
        ? 'Editando Datos del Curso   ' + editingCourse.name" 
        :  '+ Generar Nuevo Curso'}} </h1>
<br>
<div mat-dialog-content>
    <form [formGroup] = 'courseForm' class="grid">
        <div class="field col-6">
            <mat-form-field class="w-full" appearance="fill">
                <mat-label>Nombre</mat-label>
                <input formControlName = "name" matInput type="text" name="name"/>
                <mat-error *ngIf="nameControl.hasError('required')">
                    Este campo es requerido
                </mat-error>
            </mat-form-field> 
        </div>
        
        <div class="field col-6">
            <mat-form-field class="w-full" appearance="fill">
                <mat-label>Descripcion</mat-label>
                <input formControlName = "description" matInput type="text" name="description"/>
                <mat-error *ngIf="descriptionControl.hasError('required')">
                    Este campo es requerido
                </mat-error>
            </mat-form-field>
        </div>

        <div class="field col-4">
            <mat-form-field appearance="fill">
                <mat-label>Fecha Inicial</mat-label>
                <input formControlName ="iniDate" matInput name="iniDate"/>
                    <mat-error *ngIf="iniDateControl.hasError('required')">
                        Este campo es requerido
                    </mat-error>
            </mat-form-field>
        </div>   
        
        <div class="field col-4">
            <mat-form-field appearance="fill">
                <mat-label>Fecha Final</mat-label>
                <input formControlName ="finalDate" name="finalDate"/>
                <mat-error *ngIf="finalDateControl.hasError('required')">
                    Este campo es requerido
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</div>
 <div class="flex justify-content-end" mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button (click)="onSubmit()" type="submit" mat-button>Generar Curso</button>
</div>